
body {
  font-family: 'Poppins', sans-serif;
  background-color: #0F2540;
}
.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
  }
.hover\:w-full:hover {
  width: 100%;
}
.group:hover .group-hover\:w-full {
  width: 100%;
}
.group:hover .group-hover\:inline-block {
  display: inline-block;
}
.group:hover .group-hover\:flex-grow {
  flex-grow: 1;
}
main{
  padding: none;
text-align: center;
}
h3{
  color: white;
}
h1{
  text-align: center;
  color: white;
}
#demo{
  color: white;
}

i{
  color: #4895EF;
  font-size: 3rem;
  text-align: center;
  margin: 0 0.5id
  rem;
}

i:hover {
  cursor: pointer;
}
.score{
  margin: auto;
  width: 90%;
  padding: 10px;
}
.left{
  color: white;
  float: left;
  margin-left: 8%;
}
.right{
  color: white;
  float: right;
  margin-right: 8%;
}
.awards{
  padding-bottom: 70px;
}
.container{
  color: white;
  padding-bottom: 30px;
}
.navbar-brand{
  margin-bottom: 10px;
}
.navbar {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}





/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
